.dynamicButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    padding: 15px 30px;
    background-color: var(--red_1_-dd3542);
    border: 2px solid transparent;

    p {
        font-size: 15px;
        font-weight: 500;
        padding: 0px 18px;
    }

    img {
        width: 30px;
        height: 25px;
    }
}

.dynamicButton:hover {
    background-color: white;
    color: var(--red_1_-dd3542);
    border: 2px solid var(--red_1_-dd3542);
}